.experiencecontainer{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    margin: 200px 0;
    align-items: center;
}

.experiencecontainer>h1{
    padding-bottom: 20px;
}

.experiencecontainer__info{
    background: url("../../images/pocHtG.jpg");
    background-position: center;
    background-size: cover;
    height: 300px;
    z-index: 1000px;
    width: 80vw;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.9);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;

}
